.container {
  margin-bottom: 0.5rem;
  height: 7rem;
}

.container:hover {
  cursor: pointer;
  background-color: rgb(170, 167, 167);
  border-radius: 10px;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.28);
}

.location {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5rem;
}

.alert {
  background-color: red;
  color: white;
  width: 100%;
  text-align: left;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.28);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  padding: 0.5rem;
  letter-spacing: 1px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.48);
  border-radius: 10px;
}

.flex-row {
  display: flex;
  gap: 2rem;
  padding: 0.6rem;
}

.icon {
  width: 2rem;
}
p {
  font-weight: bold;
  font-size: 1.1rem;
}

.number {
  font-size: 1.5rem;
  opacity: 60%;
  margin-left: -1.2rem;
}
